# Node.js
node_modules/

# Playwright
playwright-report/
test-results/
trace.zip

# Screenshots / artifacts
screenshots/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
